.main-tab-pane
{
    /*
    -fx-background-color: #FF0000;
    */
}

.main-vert-box
{
/*
-fx-background-color: #0000FF;
*/
}

.navigation-buttons-box
{
    /*
-fx-background-color: #00FF00;
*/
}

.general-tab-config-text-field
{
    /*
-fx-background-color: #00FFFF;
*/
}

.general-tab-grid
{
    /*
-fx-background-color: #FF00FF;
*/
}

.general-tab-anchor
{
    /*
-fx-background-color: #FFFF00;
*/
}