.main-tab-pane
{

}

.main-vert-box
{

}

.navigation-buttons-box
{

}

.general-tab-config-text-field
{

}

.general-tab-grid
{

}

.general-tab-anchor
{

}

.general-validatation-textflow
{
    -fx-fill : black;
    -fx-border-color: darkblue;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-background-color: azure;
}

.general-validatation-error-textflow
{
    -fx-fill : darkred;
    -fx-border-color: red;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-background-color: mistyrose;
}